<div class="container">
  <div class="name">Hi, {{getUserEmail()}}</div>
  <div class="form-container">
    <form #changepassForm="ngForm" (ngSubmit)="onchangepassFormSubmit(changepassForm)" autocomplete="false" class="form">
      <div class="control">
        <label for="oldpassword">Old Password</label>
        <input ngModel #oldpassword="ngModel" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="6" name="oldpassword" required autocomplete="new-password" id="oldpassword" type="password">
        <div class="form-error" *ngIf="oldpassword.touched && !oldpassword.valid">
          <div *ngIf="oldpassword.errors.required">
            Password is required
          </div>
          <div *ngIf="oldpassword.errors.minlength">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="oldpassword.errors.pattern">
            Password must consist of number, capital letter, small letter, special characters. 
          </div>
        </div>
      </div>
      <div class="control">
        <label for="newPassword">New Password</label>
        <input ngModel #newpassword="ngModel" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="6" name="newpassword" required autocomplete="new-password" id="newpassword" type="password">
        <div class="form-error" *ngIf="newpassword.touched && !newpassword.valid">
          <div *ngIf="newpassword.errors.required">
            Password is required
          </div>
          <div *ngIf="newpassword.errors.minlength">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="newpassword.errors.pattern">
            Password must consist of number, capital letter, small letter, special characters. 
          </div>
        </div>
      </div>
      <div class="control">
        <button [disabled]="changepassForm.invalid" class="btn" type="submit">Change Password</button>
        <!-- <p class="alter-way">
          <a [routerLink]="'/login'">Already have an account?</a>
        </p> -->
      </div>
    </form>
  </div>
  <button class="btn" (click)="logout()">logout</button>
</div>
